* {
    margin:0;
    padding:0;
}

header {
    text-align: center;
    font-family: sans-serif;
    color:white;l
}

.top_container {
    background-color:#193d06;
    margin:0;
    padding: 40px;
}

