.caret.down {
    width: 0;
    height: 0;
    display: inline-block;
    border: 4px solid transparent;
    border-top-color: black;
    
    /*
        use:     &nbsp;<span class="caret down"></span>
        to write a carot for dropdowns
    */
}

* {
    margin:0;
}
@font-face {
    font-family: PalanquinRegular;
    src: url("../fonts/palanquin/palanquin-regular.ttf") format('truetype');
}
#map {
  height: 100%;
}


header h1, p {
     text-align: center;
     color: black;
}

footer {
    width: 50%;
    margin: 20px auto;
    color: black;
    text-align: center;
    font-size: small;
    font-family: arial;
}

header h1 {
    font-family: PalanquinRegular;
    font-size: 3em;
    padding: 8px 0 0 0;
}

header p {
    font-family: arial;
    font-weight: bold;
    font-size:1.2em;
    margin:0;
    padding: 0 0 8px; 0;
}



.fixed_container {
    position: fixed;
    padding: 2em;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 100%;
    box-shadow: 10px 1px 5px -2px black;
}

.content {
    margin: 200px 0 0 0;
}








