.caret.down {
    width: 0;
    height: 0;
    display: inline-block;
    border: 4px solid transparent;
    border-top-color: white; 
    /* use:     &nbsp;<span class="caret down"></span>     to write a carot for dropdowns  */
}
@font-face {
    font-family: 'BENETOpti';
    src: url(../fonts/BENETOpti-Black/BENETOpti-Black.otf)
}

.nav {
    width: 1000px;
    margin: 10px auto 10px auto;
    padding: 3px 0 3px 0;
    font-family: 'BENETOpti';
    color: white;
    
}


 .nav ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align: center;
}

  .nav ul li {
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.1em;
}

.nav ul li a {
    text-decoration: none;
    color:white;
    display: block;
}



.nav ul li ul li a {
    background-color:#5681AB;
}

.nav ul li ul li a {
    color:white;
  
}

.nav ul a:hover {
    color: #d1d1d1; 
}

.nav ul li ul li a:hover {
    background-color: #81a5ca;
    border-left: 2px solid white;
    
}

  .nav ul li ul li {
    color:white;
    visibility: hidden;
}

  .nav ul li:hover ul li {
    visibility: visible;
}
